h2 {
  text-align: center;
}

.exit {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.exit button {
      margin: 0;
      display: flex;
      justify-content: center;	
      box-sizing: border-box;
      padding: 0 25px;
      outline: none;
      border: 1px solid black;
        border-radius: 10px;
      height: 46px;
      line-height: 46px;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: whitesmoke;
      background-color: #e44747;
      box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
      cursor: pointer;
      user-select: none;
      appearance: none;
      touch-action: manipulation;  
      vertical-align: top;
}

.exit button:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
    }

.exit button:hover {
    background-color: #c03c3c;
    transition: all 0.1s;
}
    
.exit button:active {
    background-color: #973030;
}