h1 {
	text-align: center;
}

label {
	font-size: 25px;
	font-weight: 600;
	margin: 20px 20px 20px 20px;
}

.btn {
	margin: 0px 20px 20px 20px;
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	outline: none;
	border: 1px solid #ebebeb;
	  border-radius: 10px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #ebebeb;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}

.btn:focus-visible {
border: 1px solid #4c51f9;
outline: none;
}

.btn:hover {
  background-color: #b9b9b9;
}
	
.btn:active {
background-color: #808080;
}

input {
	height: 27px;
	width: 300px;
	border-radius: 10px;
	font-size: 17px;
}