.table {
	width: 85%;
	margin-bottom: 20px;
	border-collapse: separate;
    border: 1px solid #999999;
    display: block;
    margin: auto;
    border-radius: 20px;
    border-spacing: 0;
}
.table th {
	font-weight: bold;
	padding: 5px;
    background: #cfcfcf;
    border: 1px solid #999999;
}
.table td {
	border: 1px solid #999999;
	padding: 5px;
}

.table tbody tr:nth-child(3n+1){
	background: white;
}

.table tbody tr:nth-child(3n+2){
    background: #e3e1f3;
}

.table tbody tr:nth-child(3n+3){
    background: #f0dcdc;
}

.table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}

.a {
    border-radius: 0 0 0 20px;
}

.b {
    border-radius: 0 0 20px 0;
}

.main {
    width: 60%;
    margin: auto;
    background: white
}

.registration {
    margin: 15px 15px 15px 15px;
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	outline: none;
	border: 1px solid #fff;
    border-radius: 10px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
    float: right;
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 1px;
    margin: 15px 15px 15px 15px;
	outline: none;
	border: 1px solid #999999;
	border-radius: 10px;
	height: 46px;
	line-height: 0;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
    top: 50%;
    float: right;
}


.btn span {
	display: block;	
	box-sizing: border-box;
	padding: 0 25px;    
	height: 42px;
	line-height: 38px;    
	border: 1px solid #999999;
	border-radius: 10px;    
	font-size: 14px;
	color: #FFFFFF;
	background: linear-gradient(-45deg, red, blue, white);
	text-align: center;
	font-weight: 600;
}

.registration:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.registration:hover {
		background-color: #b9b9b9;
	}

.registration:active {
	background-color: #808080;
}

.name {
    margin: 15px 15px 15px 15px;
    color: white;
    font-size: 50px;
}

.btn:hover span {
	color: #b9b9b9
}

.btn:active span {
	color:  #808080;
}

.main_box {
    background-color: black;
}

.h1 {
	text-align: center;
}

.p {
	text-align: center;
}